<div class="intersections-info">
    <h3 class="location-info">Highway {{highway}} Milepoint {{milepoint}}</h3>
    <div class="ramp-container">
    {{#each ramps}}
        {{> ramp}}
    {{/each}}
    </div>
</div> 