<a href={{hrefName}}><article class="project" title="Click to open project">
    <div class="project-content">
        <p class="project-name-text">
            {{name}}
        </p>
        <p class="project-location-text">
            {{location}}
        </p>
        <p class="project-date-text">
            {{date}}
        </p>
        <i class="fa fa-trash-o" title="Click to delete project"></i>
    </div>
</article></a>
