<article class="project" title="Click to open project">
    <div class="project-content">
        <p class="project-name-text">
            Test Project 1
        </p>
        <p class="project-location-text">
            Salem
        </p>
        <p class="project-date-text">
            1/28/23
        </p>
        <i class="fa fa-trash-o" title="Click to delete project"></i>
    </div>
</article>
