<ul>
    <li class="corner-info">Corner: {{corner}}</li>
    <li class="ramp-info">Ramp: {{ramp}}</li>
    <li class="style-info">Style: {{style}}</li>
    <li class="inspection-info">Insepction Type: {{inspectionType}}</li>
</ul>