<html>
    <head>
        <title>Home</title>
        <link href="style.css" rel="stylesheet" media="screen">
        <script src="index.js" charset="utf-8" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">"
    </head>
    <body>
        <header>
            <a href="homepage.html"><h1 class="site-title">ProjectMaster</h1></a>
        </header>

        {{{body}}}
        
    </body>
    
</html>
