<main class="projectContainer">

    {{#each projects}}
        {{> project}}
    {{/each}}

</main>

<button type="button" id="create-project-button" title="Click to create new project">+</button>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-project-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>Create a Project</h3>
            <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="project-input-element">
                <label for="project-name-input">Project Name</label>
                <textarea id="project-name-input"></textarea>
            </div>
            <div class="project-input-element">
                <label for="project-location-input">Project Location</label>
                <textarea id="project-location-input"></textarea>
            </div>
            <div class="project-input-element">
                <label for="project-date-input">Project Date</label>
                <input type="date" name="project-date-input" id="project-date-input">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button">Create Project</button>
        </div>
    </div>
</div>
        