<div class="project-info">
    <h1 class="project-title">{{name}}</h1>
    <h2 class="project-location">{{location}}</h2>
    <h2 class="project-date">{{date}}</h2>
    <main class="intersections-container">
    {{#each intersections}}
        {{> intersection}}
    {{/each}}
    </main>
    <h2 class="estimation">Estimated time to inspect all ramps in project: </h2>
    <h2 id="estimationButton"></h2>
</div>