<div class="project-info">
    <h1 class="project-title">{{name}}</h1>
    <h2 class="project-location">{{location}}</h2>
    <h2 class="project-date">{{date}}</h2>
    <main class="intersections-container">
    {{#each intersections}}
        {{> intersection}}
    {{/each}}
    </main>
    <h2 class="estimationLabel">Estimated time to complete all inspections: </h2>
    <h2 id="estimationMicro" onload="callMicro()"></h2>

    <script>
        function callMicro() {
            const url = "http://localhost:5000/totalTime"
            const data = {
                {{intersections}}
            }
            const resp = await fetch(url, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            if(resp.status === 200) {
                respData = await resp.json()
                document.getElementById("estimationMicro").innerHTML = respData.totalTime
            }
        }
    </script>
</div>